<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/css/mdb.min.css"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/js/mdb.min.js"></script>
    
	<title>Parking Spaces App</title>

</head>
<body>
	<style>
		body {
			margin-top:4%;
		}
	</style>
	<div class="container">
		<h2>Username: {{ user.username }} </h2>
		<h3>Latitude: {{ user.profile.ulatitude }} </h3>
		<h3>Longitude: {{ user.profile.ulongitude }} </h3>
	</div>
	<br>
	<div class="container">
		<form type="get" action="{% url 'spaces' %}?search=" class="form-inline md-form form-sm mt-0 mb-0 ml-0">
				<i class="fa fa-search ml-0" aria-hidden="true"></i>
				<input id="search_box" type="text" name="search" placeholder="Miles away" class="form-control form-control-sm ml-3" aria-label="Search">
			
		</form>
	</div>	
	<br>
	<div class="container" id="spaceslist">
		<h4><b>Available Spaces</b></h4>
	{% block content %}{% endblock content %}
	</div>

</body>
</html>